:root {
    --color-primary: #1ea7fd;
    --color-bg: #0a192f;
    --color-text: #ccd6f6;
    --color-subtext: #8892b0;
    --color-card-bg: #112240;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}