:root {
    --color-primary: #1ea7fd;
    --color-bg: #EFEFF1;
    --color-text: #1F205F;
    --color-subtext: #7B7B6E;
    --color-card-bg: #112240;
    --color-card-text: #8892b0;
}

html.dark, html.dark-from-html {
    --color-bg: #2B2B2B;
    --color-text: #EFEFF1;
    --color-subtext: #EFEFF1;
    --color-card-bg: #EFEFF1;
    --color-card-text: #112240;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}